@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply bg-[#f8f9fa] text-foreground font-sans;
    font-family: 'Poppins', sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.6s ease-in;
  }
  
  .desktop-only {
    @apply block;
  }
  
  .mobile-only {
    @apply hidden;
  }
  
  @media (max-width: 900px) {
    .desktop-only {
      @apply hidden;
    }
    .mobile-only {
      @apply flex flex-col items-center justify-center gap-3 my-5;
    }
  }
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.shine-animation {
  animation: shine 4s infinite;
  left: -75%;
}

.hand-point-down {
  transform: rotate(90deg);
}

